nav{
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  color: white;
  padding: 10px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a.router-link-active{
  color: rgb(0, 217, 255);
}